<a href="https://colab.research.google.com/github/DataLDana/Cheat-Sheet/blob/main/MyCheatSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
---
# My Cheat Sheet
## Useful links
Another cheat sheet
<br>https://www.pythoncheatsheet.org/cheatsheet/basics

Tutorials
<br>https://www.w3schools.com/python/

More Exercises
<br>https://www.hackerrank.com/domains/python

---
---
# Methods and Types
- Built-in Functions
- Strings/Lists/Dictionaries/Sets

---
## Built-in Functions

https://www.w3schools.com/python/python_ref_functions.asp

|**Code**|**Description**|
|---|---|
|**Basic functions**|+++++++++++++++++++++++++|
|type(x)| # gives type|
|len(x)| # gives length|
|str(x) | # converts to str|
|list(x)| # converts to list|
|round(num, n)| # round number to n digits|
|del var| # deletes var|
|**logical conditions**|+++++++++++++++++++++++++|
|1 == 0| # equals|
|1 != 0| # is not|
|1 <= 0| # smaller than|
|1 in [1, 2, 3]| # in operator, gives true if value is in list|
|**unsorted**|+++++++++++++++++++++++++|
|x += 1<br>x*=2| # set and operation at the same time! (broadcasting)|
|random.randint(1, 100)| # get a random number between 1 and 100, import random before or np.random.randint|

<br>

|**Code**|**Description**|
|---|---|
|+,-| # Addition, Subtraction|
|\*| #  Multiplication|
|\/| # Floating-point division|
|\/\/|# Truncating division|
|%| #  Modulo operator, returns the remainder of a division operator,<br># 2%2 -> 2/2=1.0, returns 0, 1%2 \-> 1/2=0.5, returns 0.5|
|\**| # Exponent|
|3e2| #  3*10^2|

---
## String Methods

**Slicing**

|**Code**|**Slice**|**Description**|
|---|---|---|
|x = 'Hello world!' |||
|x[0]|'H'| # access to n+1 entry|
|x[0:2]| 'He'| # from n+1=1 to (n+1)-1=n, EXCLUDING|
|x[-1]|'!'| # last entry|
|x[-4:2]|'rl'| # 4th last entry to 2nd last entry, EXCLUDING!|
|x[:3]|'Hel'| # index start or end impicitly, from first to position 3|
|x[3:]|'lo world!'| # from position 4, because indexing starts with zero|

<br>

**Methods**

https://www.w3schools.com/python/python_ref_string.asp

https://regex101.com/ -> test regexes

|**Code**|**Description**|
|---|---|
|str.split('pattern') | # splits according to pattern|
|str.match('pattern')| # gives true if pattern is found|
|str.findall('pattern')| # returns pattern|
|str.finditer('pattern')| # returns iteration object|
|str.search('pattern')|# returns match object|
|str.contains('pattern', case=False, regex=True)| # checks if any part of each string matches the given string,<br>ignore case sensitvity|
|str.contains('pat1\|pat2')|# pat1 OR pat2|
|str.contains('(?=.*WORD1)(?=.*WORD2))| # # searches for WORD1 and WORD2 somewhere in the expression|
|str.get()| # grab if its there, but if not it wont break the code|
|str.replace('what','with', n)| # replaces what with with exactly n times, no update|
|str.strip()| # remove spaces|
|str.len()| # special method in pandas|
|**FIND/COUNT patterns**| ++++++++++++++++++++++++++++++++|
|str.find('pattern')| # returns index of first occurence, -1 if not found|
|str.count('pattern')| # counts occurences|
|str.startswith('p')<br>str.endswith('p') | # gives true if str starts/ends with p|
|**case sensitve**| ++++++++++++++++++++++++++++++++|
|str.title()| # capitalizes|
|str.lower()/.upper()| # change to lower/upper cases|
|str.capitalize()| # first letter to upper case|
|str.swapcase()| # changes case |
|str.casefold()| # ? Removes all case distinctions in the string|

---
## Lists
**List Basics**

|**Code**|**Description**|
|---|---|
|s = [ ]| # creates empty list |
|s = [1, str, dict, None]| # creates a list|
|s = [[1, 2],[3, 4]] | # creates a nested list in list, access first entry s[0][0] |
|[1,2] + [3,4]| # concentrates list|
|s*3 | # repeats values of a list |
|s[0]**3 | # 1^3|

 **Methods**
 <br>https://www.w3schools.com/python/python_ref_list.asp

|**Code**|**Description|
|---|---|
|s=list||
|s.append(item)| # appends items to s, updates|
|s.extend(item)| # like append but keeps list flat, does not nest|
|s.insert(index, item)| # inserts an item at the specified index|
|s.extend()| # add elements of a list to the end of the current list<br>(inside the list, equal to =+)|
|s.remove(item)| # removes the first occurrence of an item from the list|
|s.clear()| # removes elements from the list|
|s.pop(index)| # removes AND RETURNS the item at the specified index,<br>direct new assignment|
|s.copy()| # returns copy of the list|
|s.count()| # returns number of elements with the specified value|
|s.index()| # returns index of the first element with the specified value|
|s.sort()| # sorts the items in the list in ascending order, updates|
|s.reverse()| # reverses the order of the items in the list|

---
## Dictionaries

**Basics**

|**Code**|**Description|
|---|---|
|d={}| # create empty dict|
|d = {'key1':'value1','key2':'value2'} | # creation of dicts|
|d['key1']| # gives value1, similar to d.get['key1']|
|d.get['key1']| # returns value, use if not sure if its assignend|
|d['key3'] = 'value3' | # adds value3 to key3 or overwrites it|
|d.keys()| # Returns a list containing the dictionary's keys|
|d.values()| # Returns a list of all the values in the dictionary|
|d.items()| # Returns a list containing a tuple for each key value pair|

**Methods**
<br>https://www.w3schools.com/python/python_ref_dictionary.asp

|**Code**|**Description|
|---|---|
|d.clear()| # Removes all the elements from the dictionary|
|d.copy()| # Returns a copy of the dictionary|
|d.fromkeys()| # Returns a dictionary with the specified keys and value|
|d.pop()| # Removes the element with the specified key|
|d.popitem()| # Removes the last inserted key-value pair|
|d.setdefault()| # Returns the value of the specified key. If the key does not exist:<br>insert the key, with the specified value|
|d.update()| # Updates the dictionary with the specified key-value pairs|

---
## Sets

**Basics**
* They are not ordered.
* Since they are unordered, they lack indexing.
* They cannot contain duplicate items.

|**Code**|**Description**|
|---|---|
|my_set = {1,2,3,4,5,5}| # define a set|
|list(set([1,2,3,4]) - set([1,2]))| # gives the rest [3,4] |
|list(set([1,2,3,4]) & set([1,2]))| # gives the intersection [1,2]|

**Methods**
<br>https://www.w3schools.com/python/python_ref_set.asp

|**Code**|**Description|
|---|---|
|add()| # Adds an element to the set|
|clear()| # Removes all the elements from the set|
|copy()| # Returns a copy of the set|
|difference()|# Returns a set containing the difference between two or more sets|
|difference_update()| # Removes the items in this set that are also included in another, specified set|
|discard()| # Remove the specified item|
|intersection()| # Returns a set, that is the intersection of two other sets|
|intersection_update()| # Removes the items in this set that are not present in other, specified set(s)|
|isdisjoint()| # Returns whether two sets have a intersection or not|
|pop()| # Removes an element from the set|
|remove()| # Removes the specified element|
|union()| # Return a set containing the union of sets|
|update()| # Update the set with the union of this set and others|

---
---
# Basics

## Loops/Conditionals/Functions
**Loops**

|**Code**|**Description**|
| ---- | ---- |
|for item in var:<br>______print(item)| # for loop to excess entries, item is simply treated as every entry in var,<br>**lists** item = list entries<br>**strings** item = characters<br>**dictionary** item = keys |
|for i in range(0,2):<br>______print(var[i])| # loops for specific range is excluding,<br> range(2) = 0,1, range(2,5)=2,3,4, range(10,55,5) = 10,15,20....50|
|while condition:<br>______print(var)| # Execute while condition is True|
|i=0<br>while i != len(s):<br>______print(s[i])<br>______i+=1| # loops while condition is met|
|for index, value in enumerate(iterable):| # loop through any iterable, eg list, and keep index and value info|
|for i, row in df.iterrows():<br>______print(row)<br>______row['Col']| # iterates through all rows of a df, row = dataseries of one row, i = number of row<br> row['Col'] gives entry of Col/Row|
|for item_outer in dict:<br>______print(item_outer)<br>____________for item_inner in dict[item_outer]:<br>____________print(item_inner)|# looping nested dictionary, dict={key:[a,b],key:[c,d]}<br> returns:<br>key1, a, b<br>key2, c, d|
|for group, frame in df.groupby('col'):|# iteration over groups,group gives names of group, frame is df('group')|

<br>

**Conditionals**

|**Code**|**Description**|
| ---- | ---- |
|if var:<br> ___ action<br> elif condition:<br> ___other action<br>else:<br>___another action| # if var is not None then do 'action'<br><br> if condition is met do 'other action'<br><br> all other cases do 'another action'|
|if condition:<br>___ break| # Exits the loop above and stops|
|if condition:<br>___ continue| # Continue with the next iteration<br>(code after continue not executed)|

<br>

**Functions/Special Functions**

|**Code**|**Description**|
| ---- | ---- |
|def function_name(var1, var2, var3=None):<br>______something happens<br>return var| # define a function,<br>set default by assigning a variable,<br>then it doen't have to be given |
|var = input('String')| # Use **input function** to ask the user for input, pressing enter|
|%%timeit -n 100 | # magical function with 100 loops, measures time|
|import timeit<br>timeit.timeit(function, number=10)| # **timeit function**, measure time of function|
|zip(iterable,iterable)| # creates a list of tuples of paired elements (list1[0],list2[0])<br> # use dict(zip(df[col1],df[col2] to create a dictionary with all entries)|

---
## List Comprehensions/Mapping/F-Strings
**List comprehnsions**

|**Comprehension**|**Loop**|**Description**|
| ---- | ---- | ---- |
|[ operation for i in char for j in num]|for i in char:<br>__ for j in num:<br>____ operation(i + j) | # loops j in num and i in char|
|[number*2 for number in range(0,10)...<br> if number % 2 == 0]|for number in range(10):<br>__ if number % 2 == 0:<br>____ my_list.append(number)| # list of even numbers|

**Unpacking/Fstring/Mapping**

|**Code**|**Description**|
| ---- | ---- |
|**Unpacking**|--------------------------------------------|
|x = ['str', 'str', 'str']<br>var1, var2, var3 = x | # declare/**unpack** three variables directly from the list|
|**F Strings**|--------------------------------------------|
|'{}...{}'.format(var1,var2)| # .format inserts variables into the placeholders {}|
|f'...{var1}...{var2}'| # f-strings, easier version of .format|
|**Mapping**|--------------------------------------------|
|map(fun, list)| # mapping is a fast way to execute a function to every entry of a list,<br>returns map object, instead of for loop|
|list(map(fun,list))| # use list() to return list|
|map(min, list1, list2)| # here minimum of list1 and list2|
|def square(number):<br>__return number ** 2<br>list(map(square,x))| # here every entry of x=[1,2,3] is squared =[1,4,9]|
|**Lambda Functions**|--------------------------------------------|
|fun = lambda a, b, c : a + b<br>fun(1,2,3)<br>(lambda a, b, c : a + b)(1, 2, 3)| # short lived function, first parameters, then function<br> # excecute<br> # define and excecute and the same time|
|for item in x:<br>__print((lambda z: z**2)(item))| # use lambda function within a loop|

In [ ]:
#*********example of mapping/lambda functions********************************+
# function to convert to lambdas
people = ['Dr. Christopher Brooks', 'Eva Maria Müller']

def split_title_and_name(person):      #attention: here person is not used as class anymore!
    return person.split()[0] + ' ' + person.split()[-1]

# option 1, for loop with
print('Option 1:')
for person in people:
    # use defined function
    split_title_and_name(person)   # same output
    # use direct lambda function
    print( (lambda x: x.split()[0] + ' ' + x.split()[-1])(person) )

# option 2, no for loop
# use def function in map
list(map(split_title_and_name, people))
#use direct lambda function in map
print('Option 2:')
list(map(lambda person : person.split()[0] + ' ' + person.split()[-1], people))

Option 1:
Dr. Brooks
Eva Müller
Option 2:

['Dr. Brooks', 'Eva Müller']

---
# Classes
Some examples on classes

In [ ]:
# ++++++++++++++++++++define classes+++++++++++++++++++++++
class Person:                            #define class, all below is in scope with this class
    department = 'School of Information' #no declaration of variables needed, but if declared its shared across all instances
    def set_name(self, new_name):        #define a method as you would have a function, use self in the method signature to have access
        self.name = new_name

person = Person()                        #sets person to be class of Person
person.set_name('Christopher Brooks')
print('{} live in dtown and works in the department {}'.format(person.name, person.department))

Christopher Brooks live in dtown and works in the department School of Information

In [ ]:
#**********************************
# another example
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson']
#definition of function which gets a single name of the list people
def split_title_and_name(person):           #person is one single str of the list people 'Dr. Christopher Brooks'
    title = person.split(' ')[0]            #''Dr.'
    lastname = person.split(' ')[-1]        #'Brooks'
    return '{} {}'.format(title, lastname)  # returns 'Dr. Brooks', dynamic, equal to title + ' ' + lastname
result = map(split_title_and_name, people)
list(result)
#**********************************

['Dr. Brooks', 'Dr. Collins-Thompson']

---
---
# Numpy

**Basis**

|**Code**|**Description**|
|---|---|
|import numpy as np| # numpy import|
|list=[1, 2, 3]| # examplary list|
|a = np.array(list)| # array creation|
|b = np.array([list1, list2])| # 2 d array creation|
|c = a * b| # element wise multiplication |
|c = a @ a| # matrix product|

<br>

**Indexing, Slicing**

|**Code**|**Description**|
| ---- | ---- |
|a[1]| # n-1 entry|
|b[n,m]| # row n and column m |
|b[:2]| # all elements from first (0th) to second row|
|b[:2, 0:2]| # first two rows, but only first and second entry|
|b[:,0]| # gives first column|
|b[:,0:1]| # first column but preserves column character|
|b[:,[0,2]]| # non consecutive rows, gives first and third row|

<br>

**Dimensions**

|**Code**|**Description**|
| ---- | ---- |
|a.ndim| # gives n-dimension (zuerst runter!) as integer |
|b.shape| # gives tuple with (n,m) (runter, rechts)|
|b.reshape(1,6)<br>b.reshape(1,-1)| # gives all numbers as vector<br> turns an (n,) array to (1,n) array|
|a.dtype| # gives type 'int64', 'float64' as type class|
|a.dtype.name| # give type a string|


<br>

**Methods & Creation**

|**Code**|**Description**|
| ---- | ---- |
|np.insert(b,2,a,axis=0)| # insert a to b before second colum along axis y|
|np.append(b, a, axis=0)| # append a to b|
|np.zeros((2,3),'int64')| # 2 x 3 with zeros|
|np.ones((2,3),'int64')|# 2 x 3 with ones|
|np.arange(0, 10, 2)| # createss range from 0 to 10 in steps of two,<br>EXCLUSIVE! 0,2,4,6,8|
|np.linspace(0, 8, 5)| # creating linear float arrays from 0 to 8 in 5 numbers,<br>INCLUSIVE, 0,2,4,6,8|
|np.random.rand(2,3)| # create random 2 x 3 array with floats|
|np.random.randint(0, 5, size=(2, 3))| # generate a 2 x 3 array of ints between 0 and 5|
|np.random.random(100)| # creates array with 1000 numbers|

<br>

**NaNs**

|**Code**|**Description**|
| ---- | ---- |
|np.nan| # gives NaN, np.nan=!np.nan|
|np.isnan(number)| # checks for NaN, np.isnan(np.nan)=True|
|np.average(array)| # gives average, doesnt ignore nans|
|np.nanmean(array)| # average, ignores nan|
|np.nanstd(array)| # std deviation, ignores nan|

<br>

**Subarays**

|**Code**|**Output**|**Description**|
| ---- | ---- | ---- |
|c = np.array([[1, 2, 3], [5, 6, 7],[8, 9, 10]])|[[ 1  2  3]<br>[ 5  6  7]<br>[ 8  9 10]]| # define array|
|subarray=c[0:2,0:2]|[[1 2]<br>[5 6]]| # define subarray|
|subarray[0,0]=50|[[50 2]<br>[5 6]]| # change subarray|
|c|[[50  2  3]<br>[ 5  6  7]<br>[ 8  9 10]]| # c is also changed!|

---
---
# Loading/Saving Data

|**Code**|**Description|
|---|---|
|with open('data.txt','r') as file:<br> ___wiki = file.read()| # r = only read<br>#read the file into a variable|
|pd.read_csv/excel('../Folder1/data.csv', index_col=0, header=int,<br> skipfooter = int,na_values = str)| # read in csv file with pandas, set index column, number of header lines,<br>number of skipped footer lines, identify NaN values,<br>'..' in path goes folder up in path|
|pd.read_table('.txt')| # read data from txt file|
|url = 'dropbox-link'<br>path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]<br> df = pd.read_csv(path)| # load data via a dropboxlink|
|pd.to_csv(path)| # save with pandas|
|np.genfromtxt('data.csv', delimiter=',', skip_header=1,<br>dtype=None,names=('col1','col2',...))| # load with numpy, if column names are specified<br>then indexing arr['col1'] possible|

---
---
# Regex

**Basics**

|**Code**|**Output**|**Description**|
|---|---| ---|
|txt = 'We find patterns with regex!'|---| # example text|
|re.findall('patterns',txt)| ['patterns']| # findall() returns pattern|
|re.split('patterns', txt)| ['We find ', ' with regex!'] | # split() returns substring of str, with everything which is not 'pattern'|
|re.match('patterns',txt)<br>bool(re.match('patterns',txt))| None<br>True/False | # searches **at the beginning**, returns<br>Boolean, can be used in if clause re.match(...)|
|x = re.search('patterns',txt)|<re.Match object; span=(8, 16),<br> match='patterns'>||
|x.span()<br>x.start()<br>x.end()<br>x.group()|(8, 16)<br>8<br>16<br>patterns| # query match object|
|for item in re.finditer('patterns',txt):<br>_\__print(item.group())|<callable_iterator object at 0x79c23cf2f250>| # iterator object|

<br>

**Anchors/AND/OR/NEG**

|**Code**|**Output**|**Description**|
|---|---| ---|
|txt = 'ACAAAABCBCBAA'|'ACAAAABCBCBAA'| # example text|
|re.findall('^A',txt)|['A']| # ^, charat operator, pattern must be at the beginning|
|re.findall('C\$',txt)|[]| # $, dollar operator, pattern mus tbe at the end|
|re.findall('AB',txt)|['AB']| # A&B consecutively|
|re.findall('[AB]',txt)|['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'A', 'A']|# set operator, searches for A OR for B, equal to A\|B|
|re.findall('[A-C]',txt)|['A', 'C', 'A', 'A', 'A', 'A', 'B', 'C', 'B', 'C', 'B', 'A', 'A']|# set operator with range of characters a-z, 0-9, A-Z,<br>equal to A\|B\|C|
|re.findall('[A][A-C]',txt)|['AC', 'AA', 'AA', 'AA']|# A and (A OR B OR C) == AA, AB, AC<br>(once one instance is found, letter gone)|
|re.findall('AB\|AC',txt)|['AC', 'AB']| # pipe operator|
|re.findall('[^A]',txt)|['C', 'B', 'C', 'B', 'C', 'B']| # in set operator, NOT, everything which is not A|

<br>

**Quantifiers**

|**Code**|**Output**|**Description**|
|---|---| ---|
|txt = 'ACAAAABCBCBAA'|'ACAAAABCBCBAA'| # example text|
|re.findall('A{2,10}', txt)|['AAAA', 'AA']| # e{m,n}, e is expression m minimum and n maxium number of times to be matched|
|re.findall('A{2}', txt)|['AA', 'AA', 'AA']| # default n=m|
|re.findall('A*', txt)|['A', '', 'AAAA', '', '', '', '', '', 'AA', '']| # match 0 or more times, also gives non matches as whitespace|
|re.findall('A?', txt)|['A', '', 'A', 'A', 'A', 'A', '', '', '', '', '', 'A', 'A', '']| # match 0 or 1 time, non matches as whitespace|
|re.findall('A+', txt)|['A', 'AAAA', 'AA']| # match 1 or more times, no white spaces|

<br>

**Special Characters**

|**Code**|**Description**|
|---|---|
|'[a-zA-Z]{1,100}'| # all lowercase and uppercase characters up to 100 letters|
|'\\['| # to find '['|
|'\\'| # find whitespace ' '|
|'\w'| # for any letter, including digits and numbers, [\w]==\w |
|'[\w ]'| # for any letter,digit, numbers, including whitespace |
|'.'| # for any single character which is not a newline |
|'\d'| # for any digit|
|\s| # for any whitespace character, like spaces and tabs|

---
---
# Pandas - Series

https://pandas.pydata.org/docs/reference/api/pandas.Series.html

**Basics**

|**Code**|**Description**|
| ---- | ---- |
|**Creation**|--------------------------------------------|
|pd.Series(List/Dict)| # create Series with List (can contain tuples)<br>or dictionaries, then dict key gets the index|
|pd.Series(List,index=List2)|# assign index during creating, if no value is assigned to an index-> NaN|
|**Indexing**|--------------------------------------------|
|By Index| --> cannot be extended |
|s.iloc[0]| # iloc, arrays possible, slower|
|s.iat[0]| # only single cells, fast |
|By Labels| --> can be extended with list of indices|
|s.loc['index']| # iloc, arrays possible, slower|
|s['index']| #  by index operator, middle speed|
|s.at['index']| # only single cells, fast |
|**Methods**|--------------------------------------------|
|s.index| # get index of the series, ??? Index(['Alice', 'Molly'], dtype='object')|
|s.name| # gives/set name of DataSeries|
|s.head()| # get first 5 entries of series|
|s.append()| |
|s.idxmax()| # gives index of maxium |
|s.max()| # gives maximum |
|s.tolist()| # like list() but horizontally |
|s.value| # returns numpy array of values|
|**Iteration**|--------------------------------------------|
|for label, value in s.iteritems():<br>_\__print(label)<br>\___print(value)| # access label and value of a series|

---
---
# Pandas - DataFrames
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

<br>Another Cheat Sheet https://docs.google.com/document/d/18ylCJPEHMdm6OOCIzNDOd530W93yeMFEYwNdl5MDTjQ/edit#heading=h.3g178ykvhufg

---
## Basics

**Change options Pandas**

https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

|**Code**|**Description**|
| ---- | ---- |
|pd.options.display.max_rows = 100 | # change number of displayed rows|
|pd.set_option('display.float_format', lambda x: '%.2f' % x)| # set float numbers to two decimals |
|pd.reset_option('display.max_rows')| # reset a specific option|
|pd.set_option('display.max_colwidth', 100)| # set column width|

<br>

**Abbreviations**

|**Code**|**Description**|
| ---- | ---- |
|List=['str1','str2', ...]| # Abbreviation |
|List/Str = ['Col1,'Col2', ...] OR 'Col'| # Abbreviation|

<br>

**Creation**

|**Code**|**Description**|
| ---- | ---- |
|pd.DataFrame([{a:1},{b:2}])<br>pd.DataFrame([{'col1':List},{'col2':List}])| # Creates df with a dictionary as a,b keys with entries 1,2<br># Creates df with a dictionary with col1, col2 as columns with List as columns |
|pd.DataFrame([Series1, Series2])| # Creates df with series|
|pd.DataFrame(dicts/Series,columns=List ,index=List)| # creates dataframes with column index names, also empty df|


<br>

**Quering**

|**Code**|**Description**|
| ---- | ---- |
|df.loc[List/Stg_Row,List/Str_Col] | # Indexing Frames by index, updates(!)<br># ??? df.loc[..] -> rows, .loc[[..]] gives back a ds insead of ds|
|df.iloc[int_row,int_col] | # position based indexing|
|df['Col'] or df[List]| # Indexing Operator, does not update (!)|
|df.T.loc['Col']| # Indexing with Transpose|
|df.columnname| # Indexing by attribute, only works as long as its no special name of pandas, don't use|
|ds.index.get_loc(key)| # get position/index of a specified row<br> e.g key='Kelly' --> 3 is the position of the row  named 'Kelly'|

---
## Data Exploration

|**Code**|**Description**|
| ---- | ---- |
|df.columns| # returns names of columns, df.columns = 'List' writes|
|df.index| # returns index col, with ranges/steps|
|df.sample()| # returns a random row of the df|
|df.sample(n=10, replace=True,random_state=int)| # take a sample of n, replace=True make multiple selection of one row possible,<br> random_state forces the Pseudorandom Number Generagtor (PRNG) of df.sample<br>to return a specific random outcome, so we always get the same sample|
|df.head(), /df.tail()| # returns first 5 rows, .head(number)|
|df.info()| # returns all infos, cols, Non-null, Count, Dtype|
| --- | --- |
|df.dtypes| # returns type of every column|
|df.shape| # returns tuple with num row/cols|
|df.size | # returns number of entries nxm|
|df.ndmin| # returns dimensions (for tables, always two D)|
|df.describe()| # cnt, mean, std, min, max, quartiles of every column|
|df.unique()| # returns unique entries|
|df.nunique()| # counts number of unique entries of each row|
|df['Col'].value_counts() | # Counts of unique values in a row|
|df.corr()|# correlation|

---
## Manipulating & Datacleaning

**Column/row Names**

|**Code**|**Description**|
| ---- | ---- |
|df['Col'].copy()| # supresses changing the original df if we only want change a sample|
|df.rename(columns=dicts) | # renames columns with dictionary|
|df.rename(mapper = str.strip, axis = 'columns')| # clean column names of whitespaces and tabs|
|df.columns = [x.strip().lower() for x in df.columns]| # clean column name with list comprehension|
|df.set_index('Col',inplace=True)| # sets 'Col' to be the index, inplace overwrites directly|
|df.set_index(['Col1','Col2'])| # multilevel indexing|
|df.reset_index()| # shifts index col to be in Frame again, numerical index|
|df.sort_index| # sort df by index row|

<br>

**Add/Drop/Change Rows/Entries**

|**Code**|**Description**|
| ---- | ---- |
|df.drop(List/'Col'_row,axis=1)| # deletes a col, not updating|
|df.drop(n,axis=0)| # drop row with index n|
|del df['Col'] | # deletes a col, overwrites|
|df.drop_duplicates(subset='Col')| # drops repeated rows, identified by subset|
|df['Col'] = xxx<br>df.loc[:, 'Col'] = xxx | # Add/Change a column,xxx='' add empty column |
|df.loc[condition_mask,'Col'] = newValue| # change specific values|

<br>

**NaN Manipulation**

|**Code**|**Description**|
| ---- | ---- |
|df.dropna(axis=0/1)| # drops whole row_0, col_1 with NaN, not updating|
|df['Col'].fillna(value)| # Fills NaNs with integer value, not updating|
|df.fillna(method='ffill'/'bfill')| # Fills forwards/backwards, with the previous value|
|df.isnull()||
|df.isna()||

<br>

**Sorting**

|**Code**|**Description**|
| ---- | ---- |
|df.nlargest(n,columns='Col')| # sorts df by 'Col' and returns df with first/last n rows,<br> must have both arguments for df|
|df.nsmallest(n,columns='Col')| # select specific cols by chaining indexing operator|
|df.sort_values('Col', ascending=False)| # sorts series in descending order,<br>col must be specified if df is sorted, if ds is sorted not|

<br>

**Change Strings in Entries**

|**Code**|**Description**|
| ---- | ---- |
|df.replace(to_replace='pattern',value='Str', regex=True) | # finds Pattern and replaces it by Str|          
|df.replace(dict,inplace = True, regex=True)| # works with dictinary as in rename,<br> regex=True will find replacements anywhere in the df|
|df['Col'].str| # str accessor, apply first to access str methods|
|df['Col'].str.split('pattern')| # splits entries in df according to pattern|
|df['Col'].str.split('pattern').str.get(n)| # get n-th entry of split pattern along whole df|
|df['Col'].str.match(r'pattern')| # is true if matches|
|pattern='pattern='(?P<First>^[\w]*)(?\:.* )(?P<Last>[\w]\*$)'<br>df['Col'].str.extract(pattern)| # extract first and Last name with regexes, grouping&naming of regex|

<br>

**Change Datatypes**

|**Code**|**Description**|
| ---- | ---- |
|df['Col'].astype('float')| # converts to col to floats, errors for NaNs if 'int'|
|my_cat = pd.CategoricalDtype(categories=['A-', 'A', 'A+'], ordered=True)| # create an ordered category|
|df['Col'].astype(my_cat)| # convert to my own category|
|pd.to_numeric(df['Col'], errors='coerce')| # change str to numerics, not updating, coerce forces conversion,<br>if eg 50Euro in str it sets the entry to NaN|
|df.select_dtypes(exclude='number')| # only include categorical columns|
|df.select_dtypes(include='number')| # only include numerical columns|

---
## Booleans

**Boolean Masking**

|**Code**|**Description**|
| ---- | ---- |
|df['col'] > int | # gives boolean series == Mask|
|df['col'].gt(int)<br>df['col'].lt(int) | # gives boolean series == Mask, can be chained together |
|df['Col'].between(int1, int2) | # between numbers, inclusive OR strings, alphabetical |
|df['Col'].isin(List)| # creates mask with strings in lists |
|df.isnull() | # creates mask which is true for NaN, use df.isnull().sum() for counting NaNs |
|df.notnull() | # inverse of isnull, check for non-missing values|
|df1.equal(df2)| # returns True if size and entries are equal|

<br>

**Operating Masks**

|**Code**|**Description**|
| ---- | ---- |
|df.where(mask) | # operates mask, gives true entries, false == NaN|
|df.where(mask).dropna()| # operates mask, only true values of df|
|df.loc[mask,:] | # operates using loc, same as .where().dropna() |
|df[mask] | # operates mask by Indexing operator|
|df.query('Col1 == 'str' & Col2 > int') | # no reference of column names and no querying of df, returns df directly,<br> if Colname with whitespace --> \`Col 1\`, reference variable with @variable |

---
## Merging/Grouping
**Merging**

|**Code**|**Description**|
| ---- | ---- |
|pd.merge(df1, df2, how='outer', left_index=True, right_index=True)|# join, how='outer/inner/left/right'|
|df1.merge(df2,left_on='df1_col', right_on='df2_col')|# alternative writing, OR on='Col' if cols are the same index=true copies index|
|pd.concat([df1, df2, df3], axis=0/1, ignore_index=True) | # concatuates dataframes, add cols_1, add rows_0,<br>extension of index values with index=True|
|pd.concat([df1, df2], keys=['2011','2012'])|# ??? adding extra index|

<br>

**Grouping**

https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

|**Code**|**Description**|
| ---- | ---- |
|List/Str_'fun'= 'fun' OR ['fun1','fun2']|     |
|df.groupby('Group').fun(numeric_only=True) | # grouping by direct function, numeric_only=True for only take  colums with numeric values; <br> fun = count,size,sum, mean, std, var, describe, min, max, np.nanmean, np.nanastd, nunique |
|df.groupby('Group',as\_index=False).agg([List/Str_'fun']) | # grouping with agg function, as_index sets col as index |
|df.groupby('Group')[List/Str_Col].agg/fun() | # only aggregate of specific cols|
|df.groupby('Group').agg({'Col1':List/Str_'fun', ... } ) | # multiple calculatoins with dicts style |
|df.groupby('Group').agg(name1=('Col', 'fun'),..) | # multiple calculatoins with  with tuple|
|df.groupby(['Group1','Group2']).agg() | # muliple groups |
|Examples from Class|------------------------------------|
|for group, frame in df.groupby('col'):|# iteration over groups,<br>group gives names of group, frame is df('group')|
|for group, frame in df.groupby('Col',func,level=(0,1)): <br>_\___print(group)| # grouping iteration according to 'Col' or Index # with a function, mulitlevelindexing|
|df.groupby('col').filter(lambda x: np.nanmean(x['col'])>9)**| # filter with lambda function, returns Booleean with values only above 9<br>example from first Datascience class|
|df['col1'].groupby('col2').transform(fun)|# returns an object with the same size as the group,<br>tranform() broadcasts the function you supply over the grouped|

---
## Date/Time Functionality
- classes: Timestamp, DatetimeIndex, Period, Periodindex
- https://docs.python.org/3/library/datetime.html#
- https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetimelike-properties


|**Code**|**Description**|
| ---- | ---- |
|**Creation**|----------------------|
|pd.Timestamp('9/1/2019 10:05AM')<br>pd.Timestamp(2019, 1, 9, 10, 5) | # create a Timestamp via string<br> create a Timestamp via integers (year, month, day, hour, minute)<br> can be used as dataframe index|
|pd.Period('9/1/2019 10:05AM')<br>pd.Period('9/1/2019 10:05AM')+5|  # creates a Period, which is a timespan with a smallest granularity<br>Addition/Subtration of smallest granularity (#5min)<br> can be used as dataframe index|
|pd.Timestamp(('9/1/2019 10:05AM')<br>+ pd.Timedelta('12D 3h'))| # or add a timedelta to a timestamp|
|pd.offsets.Week()<br>pd.offsets.MonthEnd()| # special timedeltas to and to get + one week <br> land the end of the month|
|pd.date_range('10-01-2016', periods=9, freq='2W-SUN')<br>pd.date_range('10-01-2016', periods=9, freq='B')<br>pd.date_range('04-01-2016', periods=12, freq='QS-JUN')|# create ranges: start at 10/01/2016 for 9 times, every second sunday<br># every Buisness day<br># Or you can do quarterly, with the quarter start in June|
|pd.to_datetime(df['Col'],unit='s',dayfirst=True)| # Converts str to datetime type, unit='s' changes unix code to date,<br>dayfirst/yearfirst if unclear yy/mm/dd or dd/mm/yy|
|**Getting attributes**|----------------------|
|.dt| # datetime accessor, doing datetime methods to all entries of df |
|df['Col'].dt.month/year/day/weekday| # get month (number)/year/day(0:31)/weekday(0:6) of date column|
|df['Col'].dt.month/day_name()| # get month/day (name) of date column|
|df['Col'].dt.strftime('%A, %d %b %y)| # creates string according to code here eg: Monday, 02 Jan 17 <br>https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior|
|**Calculations/Booleans**|----------------------|
|df['Col'].min()/max()/mean()/median()/describe()| # possible methods for datetime type|
|df.loc[df['Col'].dt.year == 2018, :]| # use datetimes for boolean masks/filtering, also with &,\||
|df.loc[df['Col'].between('yyyy-mm-dd', 'yyyy-mm-dd')]| # filter for times between, end is exclusive!|
|**Grouping with Datetimes**|----------------------------------|
|df.groupby([df['DateCol'].dt.year, df['DateCol'].dt.month])['col'].sum()| # Groupby year and month and aggregate, can be plotted directly wit .plot()|
|df.resample('M/D', on='DateCol')['Col'].sum()| # Sums up entries of Col by monthly/daily groups, can be plottet by .plot(),<br> output is still a datetime (covering a timespan, indicated with last days of month<br>https://business-science.github.io/pytimetk/guides/03_pandas_frequency.html)|

## First Cleaning Strategy

**Data report with ydata**

|**Code**|**Description**|
| ---- | ---- |
|!pip install ydata_profiling<br>from ydata_profiling import ProfileReport<br>report = ProfileReport(df,minimal=True)<br>report.to_file('report.html')| # tool that gives an overview over the data used<br>full or minimal report|
|df.copy()| # First do a copy|
|df.duplicated().sum()| # Find duplicates and drop theses|
|df.info()| # First Overview: Shape, names of columns, missing values, datatypes|
|df['Col'].isna().value_counts(normalize=True) or <br> df['Col'].isna().sum() / df.shape[0])*100).round(5)| # Find percentage of missing values in a row|
|df = df.loc[~(df['Col'].isna()), :]| # Save without isna, or use dropna |
|df['Col'] = pd.to_datetime(df['Col'])| # convert str to datetime |
|df['Col'] = pd.to_numeric(df['Col'])| # convert str to numerics|
|---<br>df['Col'].str.contains('\d+\.\d+\.\d+').value_counts()<br>faulty_list = df.loc[df['Col'].str.contains('\d+\.\d+\.\d+'), 'id_order']<br>df = df.loc[~df['id_order'].isin(faulty_list)]| # code to identify faulty entries indicated by 'xxx.xxxx.xx' and delete<br># Count how many strange numbers with regex<br># get id_orders with specified regex<br> # Save df without faulty entries|

<br>

**Create Categories**

|**Code**|**Description**|
| ---- | ---- |
|df['cat'] = ' '| # Create empty category column|
|df.loc[df['Col'].str.contains('pat', case=False)]| # look for pattern in all entries of Col and returns df|
|df.loc[df['Col'].str.contains('pat', case=False), 'cat'] =/+= 'whatever'| # sets cat column to 'whatever' for all found entries OR use += to add more categories|

---
## Plotting with Pandas

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html

|**Code**|**Description**|
| ---- | ---- |
|x = df['Col'] | # Column we want to plot |
|df.plot() | # lineplot of dataseries, with x as indices|
|df.something(figsize=(12,8),s=350,color=List,ylim=int) | # Changing Figuresize, dotsize, color, limit|
|df.plot.line(x='Col_x', y='Col_y') | # lineplot, with x and y in columns|
|x.hist(bin=int, range=(xmin,xmax)) | # histogram, chops cols intos num of bins with specific xrange |
|x.value_counts().plot.bar() | # bar plot of frequencies of categories, ticks specified by x.index=List|
|df.plot.scatter(x = 'Col1', y = 'Col2') | # Scatter plot|
|df.plot.scatter(x = 'Col1', y = 'Col2', c = 'Col3', cmap='viridis') | # color code of third dimension of Col3, cmap=colormap|
|df.boxplot(by='Col_x',column='Col_y') | # Boxplot|

---
## Pandorable Stuff

In [ ]:
# +++++++++++++++ MULTILEVEL INDEXING +++++++++++++++++++++
# new example
import pandas as pd
df = pd.read_csv('week-2/datasets/census.csv')
df = df[['STNAME','CTYNAME','SUMLEV','CENSUS2010POP','ESTIMATESBASE2010']]
df = df.set_index(['STNAME','CTYNAME'])
df.head()

                        SUMLEV  CENSUS2010POP  ESTIMATESBASE2010
STNAME  CTYNAME
Alabama Alabama             40        4779736            4780127
        Autauga County      50          54571              54571
        Baldwin County      50         182265             182265
        Barbour County      50          27457              27457
        Bibb County         50          22915              22919

In [ ]:
# access ROWS level 0 and level 1
df.loc['Michigan','Washtenaw County']
# or multiple rows -> tuples
df.loc[ [('Michigan', 'Washtenaw County'),('Michigan', 'Wayne County')] ]
# access COLS # see colums
# -> either transpose df.T.loc('BIRTH2010') or projecting a single column df['BIRTHS2010']

                           SUMLEV  CENSUS2010POP  ESTIMATESBASE2010
STNAME   CTYNAME
Michigan Washtenaw County      50         344791             345066
         Wayne County          50        1820584            1820641

In [ ]:
# Acces through columns with Apply Function (pandorable idiom)
# Example, min and max data of multiple rows
# 2) output into old dataframe
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013']]
    # Create a new entry for max
    row['max'] = np.max(data)
    # Create a new entry for min
    row['min'] = np.min(data)
    return row
# Now just apply the function across the dataframe
df.apply(min_max, axis='columns').head()

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,max,min
0,Alabama,Alabama,4785161,4801108,4816089,4830533,4830533,4785161
1,Alabama,Autauga County,54660,55253,55175,55038,55253,54660
2,Alabama,Baldwin County,183193,186659,190396,195126,195126,183193
3,Alabama,Barbour County,27341,27226,27159,26973,27341,26973
4,Alabama,Bibb County,22861,22733,22642,22512,22861,22512

In [ ]:
# 3) alternatively with lambda functions
rows = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013']
# Now we'll just apply this across the dataframe with a lambda
df.apply(lambda x: np.max(x[rows]), axis=1).head()     # == np.max(df[rows],axis=1)

0    4830533
1      55253
2     195126
3      27341
4      22861
dtype: int64

---
---
# Plotting with Seaborn


https://seaborn.pydata.org/tutorial.html

https://seaborn.pydata.org/tutorial/function_overview.html

![Screenshot 2024-08-19 101514.png]()

|**Code**|**Description**|
| ---- | ---- |
|import seaborn as sns<br>import warnings<br>warnings.filterwarnings('ignore') | # Import Seaborn<br>Ignore warnings |
|titanic = sns.load_dataset('titanic')| # import famous database|

---
## Categorical plots

https://seaborn.pydata.org/tutorial/categorical.html

https://seaborn.pydata.org/generated/seaborn.catplot.html

Categorical estimate plots:
* pointplot() (with kind='point')
* barplot() (with kind='bar')
* countplot() (with kind='count')

Categorical distribution plots:
* boxplot() (with kind='box')
* violinplot() (with kind='violin')
* boxenplot() (with kind='boxen')

Categorical scatterplots:
* stripplot() (with kind='strip'; the default)
* swarmplot() (with kind='swarm')

|**Code**|**Description**|
| ---- | ---- |
|sns.xxplot(... hue='Col')| # hue=subdivion of bars|
|sns.xxplot(...,col='name',row='name2'\|col_wrap=int)| # group by category name in cols and by category name2 in rows have multiple figures,<br>wrap puts plots in the next row|
|sns.xxxplot(...,height=8)| # change heigt (and width with same aspect ratio)|
|sns.xxplot(...,aspect=3)| # ratio of each facet, so that aspect * height gives the width of each facet in inches.'<br>It's probably more easily undorstood as affecting the width of the plot|
|sns.xxplot(...,color='red'\|palette='rocket')|# change color or use palette<br>https://seaborn.pydata.org/tutorial/color_palettes.html|
|sns.xxplot(...).set(title=f'str')<br>.set_axis_labels('xlabel', 'ylabel')| # chaning axis and title|
|Catplot|+++++++++++++++++++++++++|
|sns.catplot(data=df,x='Col_x',y='Col_y);| # by default stripplot (scatterplot by category)|
|sns.catplot(kind='bar',data=titanic, x='class', y='fare', hue='sex')| # barplot of categorical data with confidence intervall, hue=subdivion of bars|
|sns.catplot(kind='count',data=df,x='Col_x',hue='Col')| # barplot (without confidence interval)|

---
## Distribution plots

https://seaborn.pydata.org/generated/seaborn.displot.html

https://seaborn.pydata.org/tutorial/distributions.html

kinds of .displot():
* .histplot() - kind='hist' the default
* .kdeplot() - kind='kde', kernel density estimation = probability density function
* .ecdfplot() -kind='ecdf', empirical cumulative distributions

|**Code**|**Description**|
| ---- | ---- |
|sns.displot(data=df,x='Col')| # by default, histogram with count|
|sns.displot(..., stat='percent')| # changing aggregates of the histogam<br>count: show the number of observations in each bin<br>frequency: show the number of observations<br>probability: or proportion: normalize such that bar heights sum to 1<br>percent: normalize such that bar heights sum to 100<br>density: normalize such that the total area of the histogram equals 1|
|sns.displot(...,bins=30 \| binswidth=2)| # change granularity,<br>the higher the number of bins, or smaller the binwidth the greater the granularity|
|sns.displot(...,kde=True)| # overlay of probability of distribution to a histogram|
|sns.displot(kind='kde',data=df,x='Col',bw_adjust=0.2)| # probability density function, change smoothness with bw_adjust \< 1|

---
## Relational data plots

https://seaborn.pydata.org/generated/seaborn.relplot.html

https://seaborn.pydata.org/tutorial/relational.html

kinds of .relplot()
* .scatterplot() - kind='scatter' the default
* .lineplot() - kind='line'

|**Code**|**Description**|
| ---- | ---- |
|sns.relplot(data=df,x='Col_x',y='Col_y')| # scatterplot by default|
|sns.relplot(...,style='Col')| # style introduces different symbols/markers|

---
---

# Plotting with matplotlib

|**Code**|**Description**|
| ---- | ---- |
|%matplotlib notebook | # enables interactive plotting within jupyter notebooks|
|import matplotlib.pyplot as plt| # import|
|plt.figure(figsize=(12,6))| # set figure size|
|plt.plot(x, y, color='red', lw=3, label=str)| # plot, set color, set linewidth, label|
|plt.hist(ages, bins=30)| # create histogram|
|plt.ylim(y0, y1)|# Show values on the y-axis between y0 and y1|
|plt.title('title')| # give title|
|plt.legend()| # plot legend |
|plt.show()| # show plot|
|plt.vlines(x_0,ymin=int,ymax=int)| # plot vertical line at x_0 |
|plt.fill_between(x,y,where=(Condition1))| # fill area under curve y(x) at condition1<br> multiple conditions via pipe operator|

---
---
# Data Engineering

https://towardsdatascience.com/data-scientists-without-data-engineering-skills-will-face-the-harsh-truth-ff482a223ddc

## WebScraping with Beautiful Soup

Beautiful Soup documentation:

https://www.crummy.com/software/BeautifulSoup/bs4/doc/

**HTML elements**

 https://www.w3schools.com/tags/default.asp<br>

|**Tag**|**Form: \<Tag\> txt_displayed \</Tag\>**|
| ---- | ---- |
|title| # Defines a title for the document|
|head| # Contains metadata/information for the document|
|body| #  	Defines the document's body|
|p| # Defines a paragraph|
|b| # Defines bold text|
|a| # Defines a hyperlink|
|tr| # Defines a row in a table|
|th| #Defines a header cell in a table|

<br>

|**attribute**|**Form: \<Tag attribute='attribute_name'> txt_displayed \</Tag\>**|
| ---- | ---- |
|class| # Class selector are used to style multiple HTML elements that share a common characteristic or function (CSS selector)|
|id| # ID selectors are used to style single HTML elements (CSS selector)|
|meta| # other attributes, which can be equally useful for identifying and targeting specific data points|
|href| # hyperlink|
|b| # Defines bold text|
|a| # Defines a hyperlink|

<br>

**Navigating HTML Code**

|**Code**|**Description**|
| ---- | ---- |
|import requests<br>from bs4 import BeautifulSoup| # import|
|soup = BeautifulSoup(html_doc, 'html.parser')| # transforms HTML code into soup object |
|url = 'url'<br>response = requests.get(url)<br>soup = BeautifulSoup(response.content, 'html.parser')| # Loading a html|
|print(soup.prettify())| # make html tree more pretty|
|**Find Tags OR Attributes**|++++++++++++++++++++++++|
|soup.find_all('tag')| # find tags like \<title\>, returns a list of all matching (and nested) HTML tags<br> within the current document. If no matching tags exist, an empty list is returned.|
|soup.find_all(attribute='name_attribute')| # search by a attribute, eg class, everything containing 'name_attribute' |
|soup.find_all(string='txt')| # search by string, txt is what is displayed on the webpage|
|import re<br>soup.find_all(string=re.compile('txt', re.IGNORECASE))| # find substrings with re|
|soup.find()| # only returns first element, instead of all like find_all|
|**Find Tags & Attributes**|+++++++++++++++++++++++|
|soup.find_all('tag', attribute='attribute_name')| # query tags and attributes at the same time|
|soup.select('tag.attribute_name')| #  query tag and attribute at the same time|
|soup.select('p.story a#link2')|#  let's extract all the \<a\> tags with the id 'link2' that are within \<p\> tags with the class 'story' |
|**Extract**|++++++++++++++++++++++++|
|soup.find_all('title')[0].get_text()| # extract text by html tags, only works for tags (no lists with tags)|
|story = soup.find_all('p')<br>for p in story:<br>print(p.get_text())| # extract tags for multiple items (here paragraphs)|
|soup.find_all(attribute='attribute1')[0]['attribute2']| # extract attribute2, first find everything which contains 'attribute1'<br>and then only give back attribute2 |
|**Navigating**|++++++++++++++++++++++++|
|last_link = soup.find(attribute='attribute_name')<br>last_link.find_next()<br>last_link.find_previous()| # last link is a tag object<br># move forward one element<br> # move backward one element|
|last_link.find_parent()<br>last_link.find_parents()| # move above in one tree<br> # gives all parents |
|last_link.find_next_siblings()| # move left and right in a tree|

---
## Connecting Python and MySQL

**From Python to SQL and Back**

|**Code**|**Description**|
| ---- | ---- |
|!pip install sqlalchemy<br>!pip install pymysql| # install packages|
|flat_df, cities_df| # split a non relational table into df,<br>which contains information about e.g. cities|
|schema = 'name_sql_workbench'<br>host = '127.0.0.1'<br>user = 'root'<br>password = 'SQL_PASSWORD'<br>port = 3306<br>connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'| # set up connection string|
|cities_df.to_sql('cities',if_exists='append',con=connection_string,index=False)| # send cities_df to SQL, appending to current information,<br>doesn't include index|
|cities_df = pd.read_sql('cities', con=connection_string)| # read cities table from SQL with unique ids|
|pd.read_sql(<br>'''SELECT DISTINCT city_name, country<br>FROM cities<br> ''',<br>con=connection_string)| # SQL query in python|
|pop_df = flat_df.merge(<br>cities_df[['city_name','city_id']],<br> on = 'city_name',<br>how ='left')<br>pop_df = pop_df.drop(columns=['Col1','Col2'])| # implement city id's into pop_df, then send it to sql again|

---
## APIS

Json documentation: https://docs.python.org/3/library/json.html
Some APIs: https://api-ninjas.com/api/city


|**Code**|**Description**|
| ---- | ---- |
|import request| # import library, https://docs.python-requests.org/en/latest/|
|url = 'https://www.someurl.com/'| # normal url|
|s = request.get(url)||
|s.status_code| # returns resonse 200 (success), 400 (client errors), 500 (server error)|
|s.text| # returns html code of url |
|url_api = 'https://api.someurl.com?key1=spec1&key2=spec2'| # urls with specified keys to get specified info of API|
| response = request.get(url_api,headers={'X_Api-Key':'my_api_key'}) | # returns response (kind of object), see documentation for all apis,<br>header if API key is neccessary|
|header={'X-Api-Key': 'my_api_key'}<br>querystring = {'key1': 'spec1', 'key2': 'spec2'}<br>requests.request('GET', url, headers=header,params=querystring)| # alternative, seperate url, parameters|
|response.text| # returns information as string|
|response.json() | # returns dictionary with information|
|pd.json_normalize()| # flattens json, kind of transposing but with repeated values in a row|

---
---
# Statistics

## Coinfidence Interval

|**Code**|**Description**|
| ---- | ---- |
|sample_size = 500 | # definde a sample size|                
|sample_ds = population_ds.sample(n = sample_size, replace = True)| # take a sample with replacement of a known population,<br>for comparisons: random_state = int|
|µ = population_ds.mean()| # calculate population mean|
|x_bar = sample_ds.mean()<br>s = sample_ds.std()| # calculate mean and s|
|SE = s / (sample_size**0.5)  | # calculate Standard Error SE, SE= s/sqrt(n)|
|x_upper = x_bar + (Zscore \* SE)<br>x_lower = x_bar - (Zscore \* SE)| # calculate upper and lower boundaries|
|print(f'We are 99% confident that the true population mean lies between {x_lower:.2f} and {x_upper:.2f}.')| # statement|
|plt.hist(ages, bins=30)<br>plt.title('Age distribution of WBS City 2')<br>plt.xlabel('Age')<br>plt.ylabel('Frequency')<br>plt.axvline(x=x_lower, color='red')<br>plt.axvline(x=upper_boundary, color='red')<br>plt.axvline(x=mu, color='purple')<br>plt.show()|# Create a histogram to visualise the distribution|

<br>

|**Zscore**|**Coinfidence Intervall**|
| ---- | ---- |
|2.5758|99%|
|1.95|95%|

---
## Hypothesis testing

https://www.youtube.com/watch?v=QzAXW7kQ0I8

Possible metrics are:
* CTR, click-through rate, clicks/total visits
* Drop-off rate for a page, percentage of visitors who initiate a conversion but do not complete it
* Homepage-return rate (should be low), measure how often users return to the homepage after clicking the button (do they find everything they need?)

**General Structure**

1. **Define your Hypotheses**, different for every test
2.**Select significance level $\alpha$**, we allow for x% chance that the observed differences is due to chance
  * coinfidence level = 100 - significance level<br>
  * small $\alpha$, more strict $\alpha$ = 0.01,0.1 (reduce Type 1 error, increase Type 2 error)
  * average $\alpha$ = 0.05
  * large $\alpha$ = 0.1
3. **Collect data** independent and unbiased
4. Calculate the test results
5. Interprete the results:

|**Code**|**Description**|
| ---- | ---- |
|if (abs(tscore) < abs(critical_value)):<br>print('''No recjection of H0. The difference of the observed variable is likely<br>due to chance/not statistically significant''')<br>else:<br>print('''Null hypotheses is rejected, the difference of the observed variable<br>is likely not by chance/statistically significant.''') | # \|tscore\| < \|critical_value\|<br> no rejection of $H_0$<br> # \|tscore\| > \|critical_value\|<br> rejection of $H_0$, <br> For $\chi^2$ use this instead tscore|
|if pvalue > alpha:<br>print(f'''Its not sufficiently unlikely that this differnce was due to chance,<br>so we will not reject the null hypothesis''')<br>else:<br>print('''Reject the null hypothesis. The difference of the observed variable is<br>unlikely due to chance.''')| # pvalue > $\alpha$<br> no rejection of H0<br> pvalue < $\alpha$ <br> rejection of H0|

---
**1 sample t-test**
* Null Hypotheses: Population mean num,  $H_0: µ =$ num<br>Alternative
* Hypthoses: $H_A:  µ\not=$ num
* critical values: https://www.statology.org/how-to-read-t-distribution-table/

|**Code**|**Description**|
| ---- | ---- |
|from scipy.stats import t, norm, ttest_1samp| # import from scipy|
|alpha = 0.01<br>mu = 1<br>x_bar = data.mean()<br>sample_size = len(data)<br>s = data.std()<br>se = s/(sample_size**0.5)<br>tscore = (x_bar - mu) / se| # set significance level<br> # set population mean<br> # calculate sample mean<br> # sample size<br># calculate sample standard deviation<br> # calculate standard error<br> # calculate t_score|
|critical_value_2_tailed = t.ppf(1-alpha/2, df=sample_size-1)| # get critical value, /2 because two tailed|
|tscore, pvalue = ttest_1samp(a = pd.Series(data), popmean = mu, alternative='two-sided') | # shortcut to get tscore and p-value|

  - $H_0$ not rejected. The difference detected in this sample to the population is likely due to chance<br>
  - $H_0$ rejected, the difference of the sample mean to the assumend population mean is statistically significant,<br> $H_0$ should be considered again

---
**2 sample t-test**
* eg two versions of webpage & track session time of each user
* Null Hypothesis $H_0: µ_A = µ_B$, average session times are equal
* Alternative Hypthesis $H_A: µ_A\not=µ_B$
* critical values: https://www.statology.org/how-to-read-t-distribution-table/

|**Code**|**Description**|
| ---- | ---- |
|from scipy.stats import t, ttest_ind| # import from scipy|
|alpha = 0.01<br>x_bar_a/b = data_a/b.mean<br>sample_size_a/b = len(data_a/b)<br>v_a/b = data_a/b.var()<br>t_score = (x_bar_a - x_bar_b) / ((v_a / n_a) + (v_b / n_b))**0.5| # calculate t_score|
|se = (s2_1/n_1 + s2_2/n_2)\*\*0.5| # calculate standard error|
|numerator = ((s2_1 / n_1) + (s2_2 / n_2))\*\*2<br>denominator = ((s2_1 / n_1)**2 / (n_1 - 1)) + ((s2_2 / n_2)**2 / (n_2 - 1))<br>degrees_of_freedom = numerator / denominator| # calculate degree of freedom for Welch's test|
|???critical_value_2_tailed = t.ppf(1-alpha/2, df=sample_size-1)| # get critical value, /2 because two tailed|
|tscore_2, pvalue_2 = ttest_ind(a = data_a, b = data_b, alternative='two-sided', equal_var=False)  | # shortcut to get tscore and p-value,<br>equal_var=False -> welchs t test|

  - $H_0$ is not rejected, it is not sufficiently unlikely that this differnce in population means was due to chances<br>
  - $H_0$ rejected, the difference in average session times are unlikely due to chance. In the taken sample people spend more time on website A/B.
---
**$\chi^2$ test**
* e.g Compare CTR of three versions of websites
* Null Hypothesis $H_0: CTR_A = CTR_B =CTR_C$, CTRs are equal
* Alternative Hypthesis $H_A$, at least one CTR is significantly different
* $\chi^2_c = \sum_{i,j}\frac{(O_{ij}-E_{ij})^2} {E_{ij}}$
* $dof = (n - 1) \times (r - 1)$
* critical values: https://www.statology.org/how-to-read-chi-square-distribution-table/

|**Code**|**Description**|
| ---- | ---- |
|from scipy.stats import chi2_contingency| # import from scipy|
|???critical_value_2_tailed = t.ppf(1-alpha/2, df=sample_size-1)| # get critical value, /2 because two tailed|
|chisq, pvalue, df, expected = chi2_contingency(observed_results)  | # calculate chiquare, p-value|

  - $H_0$ is not rejected, the difference in CTRs are likely to be by chance<br>
  - $H_0$ rejected, at least one CTR of the webpage is .
---
**Plot distributions**

|**Code**|**Description**|
| ---- | ---- |
|from scipy.stats import chi2<br>chi2.pdf(x,df)| # get chi distribution|
|from scipy.stats import t<br>plt.plot(x,t.pdf(x,loc=Centre, scale=se, df=dof))||

# Machine Learning

## Unsupervised Machine Learning

|**Code**|**Description**|
| ---- | ---- |
|from sklearn import set_config<br>set_config(transform_output="pandas")| # get output in pandas dataframes|
|anyModel.fit(df)|# fit the model to the data|
|anyModel.transform(df)|# transform the fit to the data|
|anyModel.fit_transform(df)|# fit the model to the data|
|**Scalers**|+++++++++++++++++++++++++++++++++++++|
|from sklearn.preprocessing import MinMaxScaler<br>myscaler = MinMaxScaler(feature_range=(0,1))<br>myscaler.fit(df)<br>df_scaled = myscaler.transform(df)<br>pd.DataFrame(df_scaled,index=df.index,<br>columns=df.columns)|General workflow:<br> # 1. import the transformer<br> # 2. initialize the transformer<br> # 3. fit the transformer to the data<br># 4. use the transformer to transform the data<br># 5. reconvert the transformed data back to a DataFrame|
|**Preprocessing**|++++++++++++++++++++++++++++|
|from sklearn.decomposition import PCA<br>myPca = PCA(n_components = 0.95)| # principal component analysis<br># Initialise the PCA object, keep 95% of the variance information|
|myPca.explained_variance\_ratio_| # get the proportion of variance|
|**KMEANS**|+++++++++++++++++++++++++++++++++++++++++|
|from sklearn.cluster import KMeans<br>myKMeans = KMeans(n_clusters = k, random_state = random_seed)| # import and initialise the kmean clustering algorithm|
|table = myKMeans.labels_| # get the cluster table|
|myKMeans.inertia_| # get inertia value |
|**Optimizing k-value**|+++++++++++++++++++++++++++++++++++++++++|
|inertia_list = []<br>for i in range(1,30):<br>myKMeans = KMeans(n_clusters=i)<br>myKMeans.fit(scaled_df)<br>inertia\_list.append(round(myKMeans.inertia_))| # find elbow|
|from sklearn.metrics import silhouette_score<br>silhouette\_score(data, myKMeans.labels_)| # look for silhouette score, search for local maxima|

## Supervised Machine Learning

### General Structure

|**Code**|**Description**|
| ---- | ---- |
|**# SplitData**|+++++++++++++++++++++++++++++++++++++++++++++++|
| y = df.pop('target_feature')| # Extract target feature information|
|from sklearn.model_selection import train_test_split<br>X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)| # split data into 80% train data and 20% test data<br>X = predicitive features, y = target features, we want to predict<br>Train data: data we train/fit the algorithm with<br>test data: data to test the model with|
|**# Preprocessing**|++++++++++++++++++++++++++++++++++++++++++++++|
|**Scaling**||
|from sklearn.preprocessing import MinMaxScaler/Standart/Robust<br>scaler = MinMaxScaler()<br>X_train_scaled = scaler.fit_transform(X_train)<br>X_test_scaled = scaler.transform(X_test)| # import scaler<br> # initialize scaler<br> # fit & transform scaler to training data<br> # ! we must apply the scaling to the test set as well !|
|MinMaxScaler| # sets minimum and maximium value to 0 and 1 and scales linearly|
|**Imputing**||
|X_num = X.select_dtypes(include="number")| # only include numerical data|
|from sklearn.impute import SimpleImputer<br>my_imputer = SimpleImputer().set_output(transform='pandas')<br>X_imputed_train = my_imputer.fit_transform(X_train)| # Use **SimpleImputer**<br>default=mean, strategy='mean','median','most_frequent'<br>strategy='constant',fill_value='str'/int fill with specific value<br>https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html|
|**Ordinal Encoder**||
|**OneHot Encoder**||
|**# Algorithm**|+++++++++++++++++++++++++++++++++++++++++++++++|
|from sklearn.tree import xxxClassifier<br>my_xx = xxxClassifier(parameters...)<br>my_xx.fit(X = X_train, y = y_train)| # fit data to Classifier/Regressor|
|**Prediction**|+++++++++++++++++++++++++++++++++++++++++++++++|
|y_pred = my_xx.predict(X_train)| # make predictions based on training data|
|# **Testing**|+++++++++++++++++++++++++++++++++++++++++++++++|
|my_xx.score(X_test,y_test)| # accuracy for classification, R^2 for regression|
|from sklearn.metrics import accuracy_score<br>train_accuracy = accuracy_score(y_train, my_xx.predict(X_train))| # get accurancy of training data<br>calculate percentage for y_test and y_pred<br>higher training accurancy than testing accurancy is a sign of overfitting|
|X_test = my_imputer.transform(X_test)<br>accuracy_score(y_test, my_xxx.predict(X_test))| # Check accurancy for test set with preprocessor(?)|

### K-nearest neighbors
Classification is computed from a simple majority vote of the nearest neighbors of each point: a query point is assigned the data class which has the most representatives within the nearest neighbors of the point.
+ easy, use as baseline
- slow/weak for many features,consider feature selection
+ requires scaling


|**Code**|**Description**|
| ---- | ---- |
|from sklearn.neighbors import KNeighborsClassifier/Regressor<br>knn = KNeighborsClassifier(n_neighbors = 5, p=2, weight='distance')|
|**Hyperparameters**||
|n_neighbors=[3,5,7,9,11,13,15]|# number of neighbors which vote, odd to avoid ties<br> the lower the more overfitting|
|p=[1,2,3,4,5]|# distances, p=2 is euclidian distance, the higher the more overfitting|
|weight=['uniform','distance']| # uniform: all k neighbors vote equally,<br> distance: closer points are weighted more/inverse distance|
|**attributes**||
|knn.n_features_in_| # how many features were seen during fit|
|knn.feature_names_in_|# which features were seen during fit|
|knn.n_samples_fit_| # how many samples were used to fit|

### Linear Regression
### normal Linear Regression
- LinearRegression fits a linear model with coefficients w = (w1, …, wp) to minimize the residual sum of squares between the observed targets in the dataset, and the targets predicted by the linear approximation (minimizes the loss function).<br>
$\sum^N(y_i-(w\cdot x_i +b)^2$
- scaling doesn't change the outcome

### Ridge Regression
- Adds a regularization term to the linear regressor during training, that put a L2 **penality on large feature weights** to reduce the models' complexity.<br>
$\sum^N_i(y_i-(w\cdot x_i +b)^2+α \sum^p_j w^2_j $ <br>
- Handles data with many features better and sets the weights to be small
- requires scaling
- good for small amout of training data compared to the number of features

### Lasso Regression
- Adds a regularization term, that put a L1 **penalty on the least influential variables** the training data: minimizes the sum of absolute values of the coefficients<br>
$\sum^N_i(y_i-(w\cdot x_i +b)^2+α \sum^p_j |w_j| $ <br>
- feature selection effect: subset of feature weights are forced to be zero
- use if only some features have effect
- requires scaling

### Polynomial Regression
- transform data points by adding muliplication combinations to allow polynomials to be fitted to the data
- eg for a set with two features $x=(x_0,x_1)$ with the output $ y=w_0x_0+w_1x_1+b $, the transformation $y=w_0x_0+w_1x_1+w_0 x_0^2+w_{01}x_0x_1+w_{11}x_1^2+b $ is fitted to the data
- captures **interactions between different features**!
- more evolved: non-linear basis functions

|**Code**|**Description**|
| ---- | ---- |
|**Linear**||
|from sklearn.linear_model import LinearRegression<br>linreg = LinearRegression().fit(X_train, y_train)| # import Linear Regressor<br># fit|
|**Ridge**||
|from sklearn.linear_model import Ridge<br>linridge = Ridge().fit(X_train, y_train)| # import Ridge Regressor<br> # fit|
|**Lasso**||
|from sklearn.linear_model import Lasso<br>linlasso = Lasso().fit(X_train_scaled, y_train)| # import Ridge Regressor<br> # fit|
|**Polynomial**||
|from sklearn.preprocessing import PolynomialFeatures<br>from sklearn.linear_model import Ridge<br>poly = PolynomialFeatures(degree=2)<br>X_poly = poly.fit_transform(X)<br>X_train, X_test, y_train, y_test = train_test_split(X_poly, y)<br>linreg = Ridge().fit(X_train, y_train)| # First do the polynomial transformation, with up to quadratic,<br>then the split, followed by a linear regression with a penalty<br>like Ridge, to avoid overfitting |
|**Attributes**||
|xxx.coef\_<br> xxx.intercept\_| # get coeffcient<br> # get intercept|
|**Hyperparameters**||
|alpha=[0.1,1,10,20,50,100,1000]| # default=1, larger $\alpha$ means more regularization and<br>lower complexity/less overfitting |
|max_iter = [20000]| # increase number of iterations for conversion issues<br> increases computation time|

### Decision Trees

|**Code**|**Description**|
| ---- | ---- |
|from sklearn.tree import DecisionTreeClassifier<br>dtree = DecisionTreeClassifier(max_depth=int,min_sample_leaf=int)| # initialize Decision Tree Classifier|
|**Starting values for Gridsearch**||
|max_depth=[2-15]| # size of tree|
|min_samples_leaf=||

### Plotting
|**Code**|**Description**|
| --- | --- |
|**DecisionTree**||
| from sklearn.DecisionTree import plot_DecisionTree<br>plt.figure(figsize=(64, 32))<br>plot_DecisionTree(my_DecisionTree,<br>filled=True,<br>rounded=True,<br>class_names=['Target1,'Target2'],<br>feature_names=X.columns); | # Decision tree model to visualize<br> # Whether to fill nodes with colors based on majority class<br> # Whether to round the corners of the nodes<br> # Names of the classes for the target variable<br> # Names of the features (columns) in your dataset|
|**KNN**||
|plot_fruit_knn(n_neighbors, weights=weights)| #  plot decision boundaries<br>plots available at adspy_shared_utilities.py|

### Examplary Pipeline
- with one simple imputer and a decision tree
- Using GridSearch Cross Validation
- more detailed pipelines will be added soon

In [ ]:
# 1. initialize transformers & model without specifying the parameters
imputer = SimpleImputer()
dtree = DecisionTreeClassifier(random_state=31416)
# 2. Create a pipeline
pipe = make_pipeline(imputer, dtree).set_output(transform='pandas')
# 3. Defining the cross validation
param_grid = {
    #"simpleimputer__strategy":["mean", "median", 'most_frequent'],
    'decisiontreeclassifier__max_depth': range(2, 12, 2),
    'decisiontreeclassifier__min_samples_leaf': range(3, 20, 2),
    #'decisiontreeclassifier__min_samples_split': range(3, 40, 5),       # sometime useful
    #'decisiontreeclassifier__criterion':['gini', 'entropy']             # mostly not useful
    #worth trying: min Impurty decrease  ?
    #  'class_weight': {0:1,1:2} # class one double important than class zero, worth trying example deadly mushrooms
    'decisiontreeclassifier__ccp_alpha': [0.1, 0.01, 0.001]  # exponential list, weight of impurity and complexity,
    #is it worth it to do more complex in retrospec? chops of unworthy parts of trees
    # 'decisiontreeclassifier__monotonic_cst':
}
# 4. Initalize the GridSearch
from sklearn.model_selection import GridSearchCV
search = GridSearchCV(pipe, # you have defined this beforehand
                      param_grid, # your parameter grid
                      cv=5, # the value for K in K-fold Cross Validation
                      scoring='accuracy', # the performance metric to use,
                      verbose=1) # we want informative outputs during the training process, try changing it to 2 and see what happens

# 5. Fit your 'search' to the training data
search.fit(X_train, y_train)

# cross validation average accuracy
print(search.best_score_)

# best parameters
print(search.best_params_)

---
---
# SQL

## SQL Basics

|**SQL Code**|**Description**|
| ---- | ---- |
|SELECT DISTINCT(),<br>COUNT() AS new_name,<br> AVG(),<br> SUM(),<br> MAX(),<br> MIN(),<br>| # Select and aggregations, comma only if case follows|
|CASE<br>WHEN condition1 THEN ‘answer1’<br>WHEN condition2 THEN ‘answer_2’<br>ELSE 'answer3' <br>END AS ‘new_column_name’| # introduce new column with conditions|
|FROM tables| # speficy table|
|(LEFT/RIGHT/INNER) JOIN table_2 as t2 ON<br>t1.columns_content = t2.columns_content<br>OR<br>LEFT JOIN table_2<br>USING (one_common_column)| # Joins in SQL|
|WHERE | # filtering with conditions |
|WHERE col LIKE (%A___%)| # string in col must be A***|
|WHERE col BETWEEM int1 AND int2| # num in col must be between int1 and int2 (inclusive >= & <=)|
|GROUP BY| # categories to aggregate|
|HAVING| # filtering the aggregates|
|ORDER BY col DESC| # particular order, descending|
|LIMIT int| # only displays numbers|
|**other codes**| ++++++++++++++++++++++++|
|YEAR/MONTH/DAY(timestamp)| # extract from timestamp|
|DATEDIFF(MAX(col), MIN(col))| # calculate difference of two dates in days|
|WHEN price < 50 THEN 'low'<br>WHEN price >= 50 AND price < 150 THEN 'middle'| # condition for setting price categories|
|WHEN product_category IN<br>('computers','electronics','telephony')  THEN 'tec'| # condition for setting up product categories|
|SELECT CONCAT(firstname, ' ', lastname) as FullName| # concatenating|

---
## SQL Math

|**SQL Code**|**Description**|
| ---- | ---- |
|SELECT ABS(INT)| # absolute value|
|SELECT FLOOR(INT)| # round down to closest integer|
|SELECT CEIL(INT)| # round up to closest integer|
|SELECT ROUND(INT,DECIMALS)| # round Int to Decimals|
|SELECT POW(10, 2)| # 10^2|

---
## Subqueries/CTE

|**SQL Code**|**Description**|
| ---- | ---- |
|subquery in () somehere within a query| # useful if its only a row or a value<br> in WHERE, HAVING, FROM or SELECT clause|
|WITH cte_name AS (<br>\*normal query\*<br>)<br>SELECT ...;| # CTE, common table expression, defined/referenceable query within one query<br>at the beginning of a normal query, can only be used once in a query;<br>multiple CTE: WITH cte_1 AS (...), cte_2 AS (...)|
|CREATE TEMPORARY TABLE table_name (<br>SELECT ...);| # temporary table, accessable in whole session. |

---
## WINDOW functions

|**SQL Code**|**Description**|
| ---- | ---- |
|SELECT \*,<br> AVG/SUM/COUNT(col) OVER (PARTITION BY Id)<br>FROM table| # window function, **groups by Id** and does the AVG/SUM but still shows all entries<br>doesn't aggregate! |
|SELECT \*,<br>SUM(col1) OVER (ORDER BY col2)<br> FROM table| # orders by col2, here with the sum (special case) its the accumulative sum of col1|
|SELECT \*,<br>SUM(col1) OVER (PARTITION BY Id ORDER BY col2)| # combination, cum sum of every Id group|
|SELECT \*, ROW_NUMBER() OVER (xxx)<br>FROM table| # gives consecutive row numbers|
|SELECT \*, RANK() OVER (xxx)<br>FROM table| # ranks in terms of the row number (mulitple entries in groups are skipped),<br> if you want to filter eg Rank=1 then use CTE with WHERE clause|
|SELECT \*, DENSE_RANK() OVER (xxx)<br>FROM table| # ranks in terms of consecutive numbers|
|log lag are missing| need to add|
|stored views, procudure are misssing||

---
## Setting up a database in SQL

|**SQL Code**|**Description**|
| ---- | ---- |
|DROP DATABASE IF EXISTS name_sql_workbench ;| # Drop the database if it already exists|
|CREATE DATABASE name_sql_workbench;| # Create the database|
|USE name_sql_workbench;| # Use the database|
|CREATE TABLE cities (<br>city_id INT AUTO_INCREMENT,<br>city_name VARCHAR(255) NOT NULL,<br>country VARCHAR(255),<br>PRIMARY KEY (city_id)<br>);| # Create the 'cities' table, introduce a unique city_id via AUTO_INCREMEN,<br>and set it to primary key<br> Datatypes in SQL: https://www.w3schools.com/mysql/mysql_datatypes.asp|
|FOREIGN KEY (xxx_id) REFERENCES tables(xxx_id)| # setting up a foreign key from tables with primary key xxx_id|
|INSERT INTO tables (column)<br>VALUES ('str');| # insert values|
|INSERT INTO tables (column1_, column_2)<br>VALUES<br>('str1', 'str2'),<br>('str1', 'str2');| # insert |
|UPDATE tables<br>SET column = 'NewStr'<br>WHERE xxx_id = int;| # update a row (with specific id)|
|DELETE FROM tables<br>WHERE column = 'str';| # delete a single record, also WHERE xxx_id = int|
|DELETE FROM tables<br>WHERE xxx_id IN (int1,int2);| # delete a multiple records|